<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/MFA9000/micro-okta/protect.js"></script>
  
  
  <title>Marine Palms Resort</title>
  
	<link rel="stylesheet" href="./static/themify-icons.css">
  <link rel="stylesheet" href="./static/hf.css">
	<link rel="stylesheet" href="./static/home.css">
  <!-- main -->

</head>

<body>
	<div class="bg">
		<div class="head">
			<a href=""><h3 id="logo">Welcome, {{ username }}</h3></a>
			<div class="main-menu">
				<ul>
					<a href="https://micro-okta.herokuapp.com/logout"><li>Logout</li></a>
				</ul>
			</div>
		</div>
		<div class="title">
      <div class="container">
  			<div class="first-text">Experience the extraordinary at</div>
        <div class="last-text">
          <span>Marine Palms</span>
        </div>
      </div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-location-pin"></i></span>
					<div class="desc">
						<h3>Accessible Location</h3>
						<p>Find our resort at the most convenient place, easily visible on Google Maps.We believe in making every guests trip more special with our comfortable environment and abundant facilities.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-alarm-clock"></i></span>
					<div class="desc">
						<h3>Open 24/7</h3>
						<p>Providing 24 hours a day and 7 days a week service, available at all times. Professionally trained staff on-service at all times.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-calendar"></i></span>
					<div class="desc">
						<h3>Reservation</h3>
						<p>Exclusive reservation facilities available, with flexible payment mode.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-user"></i></span>
					<div class="desc">
						<h3>Friendly Staff</h3>
						<p>Professionally trained in guest accomodation staff available at every hour of the day. We take pride in our staff, family of over 150+ members.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-signal"></i></span>
					<div class="desc">
						<h3>Free Wifi</h3>
						<p>Free wifi with high speed internet available all over the premisis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home">
					<span><i class="ti-location-pin"></i></span>
					<div class="desc">
						<h3>Accessible Destination</h3>
						<p>Resort's premium location and ultimate view points makes it a perfect vaccation destination.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="foot">
    <div class="help">
        <ul>
            <a href="https://github.com/MFA9000">
                <li>GitHub/MFA9000</li>
            </a><a href="https://github.com/MFA9000/demoplix1">
                <li>GitHub/Resort Web App</li>
            </a>
        </ul>
    </div>
    
  </div>


</body>

</html>
